/* Home */
/* ////////////////////////////////////////////////////// */

.home {
  width: 100%;
  height: 100vh;

  display: flex;
  align-items: center;
  justify-content: center;

  overflow: hidden;
}

.b {
  position: absolute;
  background-color: blue;
  width: 100px;
  height: 100px;
}

.a {
  position: relative;
  background-color: red;
  width: 200px;
  height: 200px;
}
